<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<table align="center" class="table">
    <tr align="center">
        <td>学生编号</td>
        <td>学生姓名</td>
    </tr>
    <tr align="center" th:each="d:${list}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
    </tr>
</table>
</body>
</html>